:root{
    --rose: rgb(172, 7, 109);
    
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Marck Script", cursive;
  font-weight: 400;
  font-style: normal;
/* } */
}
section{
    width: 100%;
    height: 100vh;
    background-color: rgb(201, 191, 191);
    border: 1px solid;
}

.home{
    nav{
        width: 100%;
        height: 80px;
        box-shadow: rgba(0, 0, 0, 0.50 ) 2px 2px 20px;
        display: flex;justify-content:space-between;
        align-items: center;
        padding: 20px 90px;
        background-color: #fff;

    
        h3{
            color: rgb(172, 7, 109);
            font-size: 30px;
            /* font-family:; */
            /* .pacifico-regular {.marck-script-regular { */
  
font-weight:1000;


              /* } */
              
        }
       
        
        ul{
            display: flex;

            li{
                padding: 0px 15px;
            }

        }
        
    }
    
    #home{
        width: 100%;
        height: calc(100vh - 50px);
        display: flex;



        .name{
            width: 65%;
            height: 100%;
            display: flex;
            /* align-items: center; */
            justify-content:center ;
            flex-direction: column;
            padding-left: 200px;
            ;p{
                padding: 5px 0px;
            }
            .greet{
                color: var(--rose);
                font-size: 35px;
            }
            .role{
                font-size: 25px;
            }
            .my{
                font-size: 50px;
                /* font-weight: 600; */
                /* font-family:cursive; */
                /* font-family: "Permanent Marker", cursive; */
                
  font-family: "Luckiest Guy", cursive;
            }
            
 
            button{
                width: 120px;
                /* height: 30px; */
                border-radius: 20px 20px;
                background-color: var(--rose);
                color: white;
                outline: none;
                padding: 10px;
                border: none;
                font-size: 15px;
                margin-top: 25px;
                /* margin: 25px; */
            }

        }
        .test{
            display: flex;
            
            width: 35%;
            height: 100%;
            align-items: center;
            /* justify-content: center; */
         
        }
    }
}


.insta{
    border: 1px solid;width: 300px;height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .img-holder{
        width:95%;
        height: 260px;border: 1px solid;

        img{
            width: 100%;
            height: 100%;
        }
    }
}

img{
    width: 100px;
    height: 100px;
}

.img-border
{
    width: 300px;
    height:300px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    .img-holder{
        width: 96%;
        height: 96%;
        border: 1px solid;
        border-radius: inherit;
        img{
            width: 100%;height: 100%;
            border-radius: inherit;
        }
    }
}